﻿html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background: #F0F1F1 0% 0% no-repeat padding-box;
    opacity: 1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.navbar .navbar-brand {
    color: #ED1941 !important;
    font-size: 30px !important;
}

.container {
    width: 90% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: none !important;
}

.card-trip {
    margin-bottom: 10px;
}

    .card-trip .card-title {
        margin-bottom: 0;
        color: #008A5D;
        font-size: 25px;
    }

    .card-trip .card-body {
        padding: 10px !important;
    }

.card-trip p {
    margin-bottom: 0;
}

.card-trip-company {
    text-align: center !important;
    align-self: center;
    font-size: 25px;
    font-weight: 700;
}

.card-trip-date {
    font-size: 30px;
}

.card-trip-price {
    text-align: right !important;
}

    .card-trip-price p {
        font-size: 20px;
        font-weight: 500;
        color: #008A5D;
    }

    .card-trip-price span {
        font-size: 14px;
    }

.card-trip-city {
    margin-bottom: 10px;
}

.card-trip-city p {
    font-weight: 500;
}

    .card-trip-city p span {
        font-weight: 400;
    }

.card-trip-busclass {
    color: #24559E;
    font-size: 14px;
    font-weight: 500;
}