﻿@model List<DeOnibusTest.Domain.ValueObjects.Trips>
@using DeOnibusTest.Domain.Extensions

@if (Model.IsNotNullOrEmpty())
{

    <div class="card text-center w-100 card-trip">
        <div class="card-body">
            <h5 class="card-title">Viagens favoritas</h5>
            <p class="card-text text-muted" style="font-size: 14px;">Horários ônibus e preços de passagens</p>
        </div>
    </div>

    foreach (var trip in Model)
    {
        <div class="card w-100 card-trip">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-12 card-trip-company">
                        <p class="card-text">@trip.Company.Name</p>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8 card-trip-date">
                                <p class="card-text">@trip.DepartureDate.Iso.ToString("HH:mm") <i class="fas fa-long-arrow-alt-right"></i> <span class="text-muted">@trip.ArrivalDate.Iso.ToString("HH:mm")</span></p>
                            </div>
                            <div class="col-sm-4 card-trip-price">
                                <p class="card-text">R$ @trip.Price.ToString("N")</p>
                                <span class="card-text text-muted">+ taxas</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 card-trip-city">
                                <p class="card-text"><span class="text-muted">de </span> @trip.Origin</p>
                                <p class="card-text"><span class="text-muted">para </span> @trip.Destination</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 card-trip-busclass">
                                <p class="card-text">@trip.BusClass</p>
                            </div>
                            <div class="col-sm-12 col-md-4 text-right">
                                <button class="btn btn-sm btn-danger" onclick="RemoveFavoriteTrip('@trip.ObjectId')">Remover</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="card text-center w-100 card-trip">
        <div class="card-body">
            <h5 class="card-title">Sem viagens favoritas</h5>
        </div>
    </div>
}