﻿@model List<DeOnibusTest.Domain.ValueObjects.Trips>

@{
    ViewData["Title"] = "Trips";
    List<string> classes = ViewBag.Classes;
}

<input type="hidden" id="hddSelectedTrips" value="" />

<div class="row">
    <div class="col-md-12 col-lg-8">

        <div class="card w-100 card-trip">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Classes</label>
                            <select id="selFilterClasses" class="form-control select2" multiple asp-items="Html.GetSelectList(classes)"></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Saída</label>
                            <select id="selFilterDeparture" class="form-control select2">
                                <option value="">Selecione</option>
                                <option value="1">Madrugada</option>
                                <option value="2">Manhã</option>
                                <option value="3">Tarde</option>
                                <option value="4">Noite</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" for="txtMaxPrice">Preço máximo</label>
                            <input type="text" id="txtMaxPrice" placeholder="Digite..." class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divTrips"></div>

    </div>
    <div class="col-md-12 col-lg-4">
        <div id="divFavoriteTrips"></div>
    </div>
</div>
<div class="row" id="divBtnFavoriteTrips" style="display:none">
    <div class="col-sm-12">
        <button class="btn btn-sm btn-success" onclick="SaveFavoriteTrips()">Confirmar favoritos</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/Trips/trips.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".select2").select2();

            $("#selFilterClasses,#selFilterDeparture,#txtMaxPrice").change(function () {
                GetTrips();
            });

            GetTrips();
            GetFavoriteTrips();
        });

    </script>

}